<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/author/save}" th:object="${author}" method="POST">
			<input type="hidden" th:field="*{authorId}" />
            <div class="form-group">
              <label>Author Name</label>
              <input type="text" class="form-control" th:field="*{authorName}"/>
            </div>
            
            <div class="form-group">
              <label>Author Sex</label>
              <input type="text" class="form-control" th:field="*{authorSex}"/>
            </div>
            
            <div class="form-group">
              <label>Author DOB</label>
              <input type="text" class="form-control" th:field="*{authorDob}"/>
            </div>
            
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" th:field="*{description}"/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>